@page "/"

<PageTitle>Home</PageTitle>

@if (InvestigatorService.Current is null)
{
    <div class="pa-4">
        <MudText Typo="Typo.body1" Color="Color.Secondary">
            No investigator loaded. Use the upload button in the toolbar to load a character file.
        </MudText>
    </div>
}
else
{
    <InvestigatorSheet Investigator="@InvestigatorService.Current" />
}

