<div>
    <MudText Typo="Typo.h5" GutterBottom="true">Equipment</MudText>
    <MudText Typo="Typo.body2" Color="Color.Secondary">
        Choose your investigator's starting gear and possessions.
    </MudText>
</div>
