<div>
    <MudText Typo="Typo.h5" GutterBottom="true">Characteristics</MudText>
    <MudText Typo="Typo.body2" Color="Color.Secondary">
        Roll or assign values for your investigator's core characteristics.
    </MudText>
</div>
