<div>
    <MudText Typo="Typo.h5" GutterBottom="true">Profile</MudText>
    <MudText Typo="Typo.body2" Color="Color.Secondary">
        Basic identity information for your investigator.
    </MudText>
</div>
