<div>
    <MudText Typo="Typo.h5" GutterBottom="true">Wealth</MudText>
    <MudText Typo="Typo.body2" Color="Color.Secondary">
        Set your investigator's starting financial situation.
    </MudText>
</div>
