<div>
    <MudText Typo="Typo.h5" GutterBottom="true">Occupation &amp; Skills</MudText>
    <MudText Typo="Typo.body2" Color="Color.Secondary">
        Choose your investigator's occupation and allocate skill points.
    </MudText>
</div>
